<GoogleCustomizations>

  {% if name and nickname %} 
  <CustomSearchEngine>
    <Title>{{ name }}</Title>
    <Description>
      A Google Custom Search Engine for {{ name }}.
    </Description>
    <Context>
      <BackgroundLabels>
        <Label name="include" mode="FILTER"/>
      </BackgroundLabels>
    </Context>

    <LookAndFeel>
      <Logo url="http://ego-ego.appspot.com/images/ego_logo.png" destination="http://ego-ego.appspot.com/friendfeed/{{ nickname }}/" height="32" />
    </LookAndFeel>

    <AdSense>
      <Client id="pub-3230649185001151" />
    </AdSense>

  </CustomSearchEngine>
  {% endif %}

  <Annotations>
  {{ annotations }}
  </Annotations>

</GoogleCustomizations>
