<GoogleCustomizations>

  {% if name and nickname %} 
  <CustomSearchEngine>
    <Title>{{ name }}</Title>
    <Description>
      A Google Custom Search Engine for {{ name }}.
    </Description>
    <Context>
      <BackgroundLabels>
        <Label name="include" mode="FILTER"/>
      </BackgroundLabels>
    </Context>
  </CustomSearchEngine>
  {% endif %}

  <Annotations>
  {{ annotations }}
  </Annotations>

</GoogleCustomizations>
