{% extends "base.tmpl" %}

{% block content %}

    <div class="section">
    <p>
      <strong>Q: How is this done?</strong>
    </p>

    <p>
      A: Magic.
    </p>
    </div>

    <div class="section">
    <p>
      <strong>Q: Is it really magic?</strong>
    </p>

    <p>
      A: Yes.
    </p>
    </div>

{% endblock content %}
